@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
background-color: white;
}

  #google_translate_element .goog-te-combo {
    background-color: #edbf37; /* Background color for the translate button */
    color: rgb(15, 38, 65) ; /* Text color */
    font-weight: 400;
    font-size: 16px;
    padding: 8px; /* Padding inside the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Border radius for rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    
  }

  .btn {
    padding: 15px 50px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: #edbf37;
    color: rgb(3, 23, 79);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
  }
  .register, .login{
    background-color: #edbf37 ;
  }

  .btn:hover {
    transform: scale(1.1); /* Grow slightly bigger on hover */
  }




  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  @keyframes animate-pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(15);
    }
  }


